button {
  border: none;
  background-color: rgba(34, 34, 34, 0.527);
  color: rgb(219, 218, 218);

  width: 100%;
  max-width: 250px;
  padding: 10px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.76);
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 18px;
}

button:hover {
  transform: scale(0.95);
  transition-duration: 0.2s;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  button {
    width: 100%;
  }
}
